<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Application | Vuejs</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
    <style>
      .box {
        padding: 100px 0;
        width: 400px;
        text-align: center;
        background: #ddd;
        margin: 20px;
        display: inline-block;
      }
    </style>
  </head>
  <body>
    <h1>Hello, Vue!</h1>
    <div id="app">
      <div v-if="showBooks">
        <ul>
          <li v-for="book in books">
            <h3>Book Title: {{book.title}}</h3>
            <p>Book Author: {{book.author}}</p>
          </li>
        </ul>
      </div>

      <button @click="toggleShowBooks">
        <!-- But if we use v-if then this element gets removed from the dom element  -->
        <div v-if="showBooks">Hide Books</div>
        <div v-else>Show Books</div>
      </button>

      <!-- v-show use css style if value is true to block and if false then display to none -->
      <!-- <div v-show="showBooks">Currently Showing Books</div> -->

      <br />
      <!-- Mouse Events -->
      <div class="box" @mouseover="handleEvents($event, 5)">MouseOver (enter)</div>
      <div class="box" @mouseleave="handleEvents">MouseLeave</div>
      <div class="box" @dblclick="handleEvents">DoubleClick</div>
      <div class="box" @mousemove="handleMouseMove">Position(x,y) - {{x}} {{y}}</div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
