<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Todo Application | Vuejs</title>
    <script src="https://unpkg.com/vue@3.0.2"></script>
  </head>
  <body>
    <h1>Hello, Vue!</h1>
    <div id="app">
      <div v-if="showBooks">
        <p>{{title}} - {{author}} - {{age}}</p>
      </div>

      <button @click="toggleShowBooks">
        <!-- But if we use v-if then this element gets removed from the dom element  -->
        <div v-if="showBooks">Click to Hide Books</div>
        <div v-else>Click to Show Books</div>
      </button>

      <!-- v-show use css style if value is true to block and if false then display to none -->
      <div v-show="showBooks">Currently Showing Books</div>
    </div>
    <script src="app.js"></script>
  </body>
</html>
